@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 100px;
}

.profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background: #a8dadc;
    padding: 2rem;
    font-size: 30px;
}


.title {
    color: #2c3e50
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background: #a8dadc
}

.login label {
    width: 300px;
    background: #fff;
    text-align: center;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #555;
}

.login label:hover {
    background: #fff;
    color: #000;
    transition: all 0.5s ease;
}

.login input{
    margin-left: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    background: inherit;
    cursor: inherit;
}

.login-button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background: rgb(237, 103, 85);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer
}

.login-button:hover {
    background: rgba(237, 103, 85, 0.9);
    color: #eee;
    transition: all 0.5 ease;
}

.name-container, .password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    height: 100vh;
    background-color: rgba(0,0,0,0.75)
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.modal {
    animation-name: slideDown;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-radius: 14px;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 3rem;
    padding: 2rem;
    width: 432px;
    height: 399px;
    z-index: 30;
    text-align: center;
    max-width: inherit;
    max-height: 85%;
}

    @keyframes slideDown {
        0% {opacity: 0; transform: translateY(-3rem)}
        100% {opacity: 1; transform: translateY(0)}
    }

.modal p {
    padding: 2rem;
}

.close-button {
    width: 100%;
    text-align: end;
}

.close-button button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.agree-button {
    background: #ed6755;
}

.add-button {
    background: #2c3e50
}

.agree-button, .add-button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
}

.display-none {
    display: none;
}
